@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  @apply bg-gray-100
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body{
  @apply px-16
}

/* FORM ERROR MESSAGE */

.form-message{
  @apply border border-red-500 rounded-lg bg-white p-4
}

.form-message.hide{
  @apply hidden
}

.form-message__top{
  @apply flex items-center justify-between 
}

.form-message__notification{
@apply flex items-center 
}

.form-message__title{
  @apply text-sm text-red-700 font-semibold
  }

.form-message__icon{
  @apply mr-4
}

.form-message__close{
  @apply justify-self-end cursor-pointer
}

.form-message__icon svg{
  @apply text-lg
}

.form-message__message{
  @apply text-xs pl-8 pt-2  text-gray-600
}

